php_value register_globals off

RewriteEngine On

RewriteRule ^articles$ articles.php [NC,L]
RewriteRule ^articles/([0-9]+)$ articles.php [NC,L]

RewriteRule ^comments$ comments.php [NC,L]
RewriteRule ^comments/([0-9]+)$ comments.php [NC,L]

# App settings
SetEnv SECRET_KEY xxx